{
    "parser": "@typescript-eslint/parser",
    "extends":  [
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/type-annotation-spacing" : [1, {
            "before" : true,
            "after" : true
        }] 
    }
}